body {
 margin: 0;
}

.wrapper {
 margin: auto;
 width: 70%;	
}

.header {
 display: flex;
 justify-content: space-between;
}

.logo {	
 position: relative;
 padding: 40px 0;
 padding-left: 61px;
 font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}

.logo__circle {
 position: absolute;
 left: 16px;
 top: 49%;
 transform: translateY(-50%);
 width: 28px;
 height: 28px;
 border-radius: 50%;
 opacity: .7;
}

.logo__circle_color_dark-blue {
 background: #0056EC;
}

.logo__circle_color_blue {
 left: 24px;
 top: 55%;
 background: #C8DBFB;
}

.menu {
 display: inline-block;
 margin-top: 50px;
}

.menu__item:last-child {
 margin-right: 3px;
}

.menu__item {
 position: relative;
 margin-right: 22px;
 font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
 color: #000;
 text-decoration: none;
 transition: opacity .5s;
}

.menu__item:after {
 content: '';
 position: absolute;
 display: block;
 width: 0;
 height: 3px;
 background: #0056EC;
 right: 0;
 opacity: 0;
 transition: opacity .5s, width .5s;
}

.menu__item:hover {
 opacity: .6;
}

.menu__item:hover:after {
 opacity: 1;
 width: 100%;
}

.main {
 padding: 0 53% 100px 16px;
 background: 100% 66% no-repeat url(img/mainImg.svg);
 background-size: 514px 439px;
 background-position: ;
}

.main__title {
 padding-top: 102px;
 margin: 0 0 40px 0;
 font: bold 50px/65px pt_serif, arial, helvetica, sans-serif;
}

.main__title-text_highlight {
 background: #ECF3FF;
}

.main__subtitle {
margin: 0 0 42px 0;
font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
 position: relative;
 display: inline-block;
 font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
 padding: 14.5px 16px;
 text-decoration: none;
 background: #0056EC;
 color: #fff;
 border-radius: 4px;
 transition: opacity .5s;
}

.main__button:hover {
 opacity: .8;
}

.main__button:before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 width: 24px;
 height: 100%;
 background-color: #fff;
 opacity: .5;
 transform: translateX(-50px) skewX(-45deg);
}

.main__button:hover:before {
 animation: move-light .8s;
}

@keyframes move-light {
 0% {
  transform: translateX(-50px) skewX(-45deg);
  } 
 100% {
  transform: translateX(240px) skewX(-45deg);
  }
}